<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FDND-Gang</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  
  <header>
      <h1 class="title"><%= squad.name %></h1>
  <a href="/?squad=squad-a-2022" class="squad-button">Squad A</a>
  <a href="/?squad=squad-b-2022" class="squad-button">Squad B</a>
  <a href="/?squad=squat-c-2022" class="squad-button">Squad C</a>
  <!-- <a href="/" class="sorteer">Filteren</a> -->
  </header>
